
header {
    background-color: #0b3361;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(5px);
    padding: 0;
}

.icono-carrito {
    color: white; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    text-decoration: none; /* Sin subrayado */
}

nav a:hover {
    color: #FFD700;
    /* Color dorado al pasar el mouse */
}

#boton-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 128, 0, 0.6);
    color: white;
    border-radius: 15%;
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    border: none;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1)
}

.fa-arrow-up {
    color: white;
}

#boton-top:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

#contenedor-titulo {
    text-align: center;
    margin-top: 8rem; /* Margen superior */
}

#contenedor-productos {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    margin: 2rem;
}

.tarjeta-producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-contador {
    display: flex;
    background-color:#0b3361;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #ddd;
    gap: 15px;
    overflow: hidden;
    margin-top: 1rem;
}

.btn-restar{
    background-color: #0b3361;
    color:#ddd;
    font-size: larger;
    border: none; /* Quita el borde predeterminado del botón */
    font-weight: bold;
    padding: 0.5rem;
    margin-left: 0.6rem;
    cursor: pointer;
}

.btn-sumar{
    background-color: #0b3361;
    color:#ddd;
    font-size: larger;
    border: none; /* Quita el borde predeterminado del botón */
    font-weight: bold;
    padding: 0.5rem;
    margin-right: 0.6rem;
    cursor: pointer;
}

.contador-producto {
    background-color: #ffffff;
    color: black;
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
    border: none;
    }

.imagen-producto {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.titulo-producto {
    margin-bottom: 10px; /* Espacio inferior */
}

.precio-producto {
    color: green; /* Texto en color verde */
    font-size: 18px; /* Tamaño de fuente */
}

.boton-agregar{
    border-radius: 0.938rem;
    padding: 0.875rem 0.875rem;
    margin: 0.938rem;
    color: antiquewhite;
    background-color: #0b3361;
    transition: all 0.5s ease-out;
    backdrop-filter: blur(0.625rem);
    cursor: pointer;
}

.boton-agregar:hover {
    background: #555; /* Cambio de color al pasar el cursor */
}

/* Estilo para el footer */
footer {
    background-color: #0b3361;
}

@media (max-width: 992px) {

}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {

}